# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/.ios/
frontend/.android/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
frontend/*.zip
database/*.json
database/hotwheels_models_new.json
frontend/commandlinetools-linux-11076708_latest.zip
database/hotwheels_models_new.json
frontend/commandlinetools-linux-11076708_latest.zip
